.top-nav
  ._container
    nav.top-nav--nav
      .top-nav--hamburger-container
        img.top-nav--hamburger(src="images/icons/hamburger.svg")
      //- li.top-nav--li.base--li
      //-   a.top-nav--a.base--a.top-nav--logo(href="/") JZhang
      //- li.top-nav--li.base--li
      //-   a.top-nav--a.base--a(href="/") Home
      //- li.top-nav--li.base--li
      //-   a.top-nav--a.base--a(href="/about") About
      //- li.top-nav--li.base--li
      //-   a.top-nav--a.base--a(href="/blog") Blog
      //- li.top-nav--li.base--li
      //-   a.top-nav--a.base--a Credits
