html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0rem;
  background: get("background color");
  color: get("text color");
  font-family: get("text font");
  font-weight: get("weight light");
  line-height: 1.5;

  ::selection {
    background-color: lighten(color("yellow", 10), 15%);
  }
}
