@font-face {
	font-family: "icons";
	src: url('../../fonts/icon-fonts/icons.eot');
	src: url('../../fonts/icon-fonts/icons.eot?#iefix') format('eot'),
		url('../../fonts/icon-fonts/icons.woff2') format('woff2'),
		url('../../fonts/icon-fonts/icons.woff') format('woff'),
		url('../../fonts/icon-fonts/icons.ttf') format('truetype'),
		url('../../fonts/icon-fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrowdown:before {
	content: "\E001";
}

.icon-arrowup:before {
	content: "\E002";
}

.icon-code:before {
	content: "\E003";
}

.icon-github:before {
	content: "\E004";
}

.icon-hamburger:before {
	content: "\E005";
}

.icon-link:before {
	content: "\E006";
}

.icon-linkedin:before {
	content: "\E007";
}

.icon-logo:before {
	content: "\E008";
}

.icon-newtablink:before {
	content: "\E009";
}

.icon-pause:before {
	content: "\E00A";
}

.icon-play:before {
	content: "\E00B";
}

.icon-reset:before {
	content: "\E00C";
}

.icon-watson-logo:before {
	content: "\E00D";
}
